{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class='container py-5'>
  <h2>Привет, я автор этого сайта</h2>
  <p>
    <h4>Расскажу немного о себе.</h4>
  </p>
  <p>
    <h6>
    Зовут меня Герман.<br>
    На данный момент учусь на курсе python-разработчик.<br> 
    Всегда была интересна и очень манила сфера IT.<br> 
    Наконец-то появилась такая возможность. На данный момент это мой первый<br>
    более-менее большой проект и я очень стараюсь научится кодить :).<br>
    С верстой у меня диалог не сложился поэтому всякие эффекты 
    взрывов и т.п.<br> добавить не смогу. В будущем планирую стать очень 
    крутым разработчик и работать в гиганте. Такая вот цель.<br>

    </h6>
  </p>
  <p>
    <a href="{% url 'about:wish_me' %}">
      Вы можете отправить свои пожелания мне
    </a>
  </p>
</div>
{% endblock %}