{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class='container py-5 '>
  <p>
  <font size="6">Привет, я автор этого сайта</font>
  </p>
  <p>
    <font size="4">
    Расскажу немного о себе. Зовут меня Герман.<br>
    На данный момент учусь на курсе python-разработчик.<br> 
    Всегда была интересна и очень манила сфера IT.<br> 
    Наконец-то появилась такая возможность. На данный момент это мой первый<br>
    более-менее большой проект и я очень стараюсь научится кодить :).<br>
    С верстой у меня диалог не сложился поэтому всякие эффекты 
    взрывов и т.п. добавить не смогу.<br> В будущем планирую стать очень 
    крутым разработчик и работать в гиганте. Такая вот цель.<br>
    </font>
  </p>
  <p>
    <a class="btn btn-outline-primary" role="button" 
    href="{% url 'about:wish_me' %}">
      Отправить пожелания
    </a>
  </p>
</div>
{% endblock %}