{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
  <div class='container py-5'>
    <div class="row">
    <font size="7">Технологии</font>
    {% comment %}
        Боковой блок со списком технологий 
        Займет всю ширину блока на мобильном
        и 25% при размерах экрана ≥768px
    {% endcomment %}
    <aside class="col-12 col-md-3">
      <font size="4">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Python
        </li>
        <li class="list-group-item">
            Django
        </li>
        <li class="list-group-item">
            SQL
        </li>
        </ul>
      </font>
    </aside>
    {% comment %}
        Статья  
        Займет всю ширину блока на мобильном
        и 75% при размерах экрана ≥768px
    {% endcomment %}
    <article class="col-12 col-md-9">
      <font size="4">
        <p>
          Это мой скромный список того, что я умею на данный момент.<br>
          В дальнейшем я буду расширать свой круг познаний.
        </p>
      </font>
    </article>
    </div>
  </div>
{% endblock %} 